<div class="container">
  <%= form_for @post, url: {action: "create"} do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :body, placeholder: "Body", size: "60x12" %>
    <%= f.submit "Create Blog Post" %>
  <% end %>
</div>
