/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);


$post_background_color: #f2f2f2;

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #252525;
}

.title-header {
  background-color: #333333;
}

.title-header h1 {
  color: $post_background_color;
  font-size: 3.2em;
  padding-left: 40px;
  padding-top: 20px;
}

.title-header h4 {
  color: #aaaaaa;
  font-size: 1.5em;
  padding-left: 40px;
  padding-bottom: 30px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #d9d9d9;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.index-posts-column, .show-container {
  background-color: $post_background_color;
}

.right-navigation {
  background-color: rgb(237,237,237);
}

.right-navigation-partial {
  padding: 25px 10px 20px;
  font-size: 14px;
  font-weight: 300;
}

.index-post-container {
  border-bottom: 1px dotted #aaaaaa;
  padding: 20px;
}

.show-container {
  padding: 40px;
}

.show-container p {
  padding-top: 15px;
}

.index-post-container:nth-child(1) {
  padding-top: 50px;
}

.new-blog-post-link {
  padding: 30px 0 10px 0;
}

.post-title {
  font-size: 30px;
}

.pagination {
  color: $post_background_color;
}

.pagination a {
  color: #aaaaaa;
}

.pagination a:hover {
  color: $post_background_color;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #1581eb;
}



@media screen and (max-width: 31.5em) {

  .title-header h1 {
    font-size: 2em;
    padding-left: 40px;
    padding-top: 10px;
  }

  .title-header h4 {
    font-size: 1em;
    padding-left: 40px;
    padding-bottom: 20px;
  }

  .post-title {
    font-size: 22px;
  }

  .index-post-container {
    padding: 10px;
  }

  .show-container {
    padding: 20px;
  }
  
}







